@import url('https://fonts.googleapis.com/css?family=Exo 2');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background-color: #CCF4FA;
  margin: 0;
}



/*header of the page*/



header{
  font-family: "Exo 2", Serif;
  position: relative;
  display: block;
  height: 60px;
  background-color:#F6F3F3;
  padding-bottom: 25px;
}
hgroup{ 
  position: absolute;
  left: 110px;
  font-size: 40px;
  color: #7A7A7A;
  transition: transform 2s;
  top:15px;
}
hgroup:hover{
  transform: scale(1.3);
  color:#A537E1;
}
.head{
  margin:0px;
  position: relative;
  float: right;
  padding:2px 0px;
}
li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head >  li{
  float:left;
  height: 60px;
  padding:11px 30px;
  font-size: 19px;
   transition: transform 1s; 
}
a{
  text-decoration: none;
  color:#7E7C7C;
  transition: transform 1s ;
}
li:hover{
  background-color: #87DFED;
}
.head > li > a:hover{
color:#A537E1;
transform: scale(1.2);
}
.subhead{
  display: none;
  position: absolute;
  right:218px;
  top:70px;
  padding-top:20px; 
}

.subhead>li{
  padding:4px 23px;
  background-color: #F6F3F3;
}
li:hover>.subhead{
  display:block;
}
.subhead_2{
  display: none;
  position: absolute;
  right:0px;
  top:70px;
  padding-top:20px;
  
}

.subhead_2>li{
  padding:3px 40px;
  background-color: #F6F3F3;
}
li:hover>.subhead_2{
  display:block;
}



/*content of the page*/

footer{
  position: absolute;
  display: flex;
  background-color: #F6F3F3;
  height: 33px;
  justify-content: center;
  vertical-align: middle;
  color: #7A7A7A;
  font-size: 18px;
  width: 100%;
  top:95%;
}
.galery{
  width:100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.border{
  width: 70vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contain{
  width:34.5vw;
  height: 30vw;
  overflow:hidden;
}
.allPhotos{
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  /*justify-content: center;*/
  margin-right: 0px;
  transition: 0.5s;
}
.points{
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hidden{
  height: 30vw;
  width:35vw;
}

.circle{
  width: 2vw;
  height: 2vw;
  background-color: white;
  border: 2px solid black; 
  border-radius: 50%;
  margin:0.5vw;
  transition: background-color 1s;
}
.circle:hover{
  background-color: grey;
}
.left :hover{
  transform: scale(1.5);
}
.right :hover{
  transform: scale(1.5);
}
.left{
  transition: transform 2s;
}
.circleIn{
  width: 2.5vw;
  height: 2.5vw;
  background-color: grey;
  border: 2px solid black; 
  border-radius: 50%;
  margin:0.5vw;
  transition: background-color 1s;
}































































